.drop-node {
	background-color: #e0eeee;
	padding: 30px;
	margin: 10px;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 170px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-around {
	margin: 50px 30px 50px 30px;
}

.dropdown-menu>li>a {
	color: #337ab7;
	font-size: 11px;
}

ul.dropdown-menu {
	min-width: 100px;
	margin-top: -1px;
}

.align-with-tag {
	margin-left: 10px;
}

.glyphicon-remove {
	color: red;
	margin-left: -8px;
}

.glyphicon-circle-arrow-right {
	color: green;
	margin-left: -8px;
}

.drop-node-wrapper {
	margin-top: 5px;
}

.button-list {
	display: inline-block;
	margin-left: -40px;
	list-style-type: none;
}

ul.button-list>li {
	cursor: pointer;
}

.dnd-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.dropZoneTableNode {
	margin: 15px 10px;
}


.radio-values {
	margin-right: 4px;
	margin-left: 2px;
}

